{% extends "base.html" %}

{% block app_content %}
    <form method="post">
        <label for="username">Username</label>
        <br>
        <input type="text" name="username"
               placeholder="Username"
               value="{{ request.form['username'] }}"></input>
        <br>

        <label for="password">Password</label>
        <br>
        <input type="password" name="password"
               placeholder="password"
               value="{{ request.form['password'] }}"></input>
        <br>
        <button type="submit">Sign Up</button>
    </form>
{% endblock %}